 @* @model IList<QuenchYourThirst.Models.ProductSizeFlavor> *@
@* @model IList<object> *@
@using QuenchYourThirst.Utilities;
@{
    var countQueryString = ViewData["countQueryString"];
    var queryStringP_PP = ViewData["p_pp"];
    var queryStringC = ViewData["c"];
    var cate = ViewData["category"];
}
@using Newtonsoft.Json.Linq;
@using Newtonsoft.Json;
<script>
    const values = @Html.Raw(Json.Serialize(cate));
    console.log(values)
    console.log("2: ", @Html.Raw(Json.Serialize(countQueryString)))
</script>
<div class="hero-wrap hero-bread" style="background-image: url('~/images/bg_1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="">Home</a></span> <span>Products</span></p>
                <h1 class="mb-0 bread">Products</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 mb-5 text-center">
                <ul class="product-category">
                    @{
                        var category = ViewData["category"];
                        var categories = ViewBag.categories;
                    }
                     @foreach(var item in categories)
                     { 
                        @if (item.id == int.Parse(Convert.ToString(category)))
                        {
                            <li><span class="active">@item.name</span></li>
                            continue;
                        }
                        @* <li><a href="@(urlWeb + ((int)countQueryString == 0 ? "?c=" : "&c=") + item.id )">@item.name</a></li> *@
                        <li><a href="@((int)countQueryString == 0 ? "?c=" : $"{queryStringC}&c=")@item.id">@item.name</a></li>
                     }
                </ul>
            </div>
        </div>
        <div class="row">
            @{
                var currentPage = (int)ViewData["currentPage"];
                var totalPage = (int)ViewData["totalPage"];
                totalPage = totalPage == 0 ? 1 : totalPage;
                string convertString(string input)
                {
                    return input.Replace(" ", "-");
                }
            }
            @foreach (var product in Model)
            {
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="product">
                        <a href="/product/@(Functions.changeStringToString(product.products.name))/@product.products.id" class="img-prod">
                            <img class="img-fluid" src="@product.imgs.url" alt="">
                            <span class="status">30%</span>
                            <div class="overlay"></div>
                        </a>
                        <div class="text py-3 pb-4 px-3 text-center">
                            <h3><a href="/product/@(Functions.changeStringToString(product.products.name))/@product.products.id">@product.products.name</a></h3>
                            <div class="d-flex">
                                <div class="pricing">
                                    <p class="price"><span class="mr-2 price-dc">@product.prices[0] đ</span><span class="price-sale">@product.prices[product.prices.Count - 1] đ</span></p>
                                </div>
                            </div>
                            <div class="bottom-area d-flex px-3">
                                <div class="m-auto d-flex">
                                    <a href="#" class="add-to-cart d-flex justify-content-center align-items-center text-center">
                                        <span><i class="ion-ios-menu"></i></span>
                                    </a>
                                    <a href="#" class="buy-now d-flex justify-content-center align-items-center mx-1">
                                        <span><i class="ion-ios-cart"></i></span>
                                    </a>
                                    <a href="#" class="heart d-flex justify-content-center align-items-center ">
                                        <span><i class="ion-ios-heart"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
        <div class="row mt-5">
            <div class="col text-center">
                <div class="block-27">
                    <ul>
                        @{
                            int countQueryStringInt = (int)countQueryString;
                            string ppQueryString = (string)queryStringP_PP != "" ? queryStringP_PP + "&pp=24" : "?pp=24";
                            string href = countQueryStringInt == 0 ? "?pp=24" : $"{ppQueryString}";
                        }
                        @for (int i = 1; i < totalPage + 1; i++) 
                        {
                            string next = $"&p={currentPage + 1}";
                            string prev = $"&p={currentPage - 1}";
                            string isPage = $"&p={i}";
                            @if (currentPage != 1 && i == 1)
                            {
                                <li><a href="@(href + prev)">&lt;</a></li>
                            }
                            @if (currentPage == i)
                            {
                                <li data-active-page="@i" class="active">
                                    <span>@i</span>
                                </li>
                            }
                            else if (currentPage <= 5)
                            {
                                <li><a href="@(href + isPage)">@i</a></li>

                                @if (i >= 5)
                                {
                                    <li data-active-page="" class="__other">
                                        <span>...</span>
                                    </li>
                                    <li><a href="@(href + next)">&gt;</a></li>

                                    break;
                                }
                                @if (totalPage <= 5 && i == totalPage)
                                {
                                    <li><a href="@(href + next)">&gt;</a></li>

                                }
                            }
                            else if (currentPage > 5)
                            {
                                if (i >= 4 && i < currentPage)
                                {
                                    if (i == 4)
                                    {
                                        <li data-active-page="" class="__other">
                                            <span>...</span>
                                        </li>
                                    }
                                    continue;
                                }
                                else if (i <= totalPage && (i < (currentPage + 3)))
                                {
                                    <li><a href="@(href + isPage)">@i</a></li>

                                }
                                else
                                {
                                    if (currentPage != totalPage)
                                    {
                                        <li><a href="@(href + next)">&gt;</a></li>
                                    }
                                    break;
                                }
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
    <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
            <div class="col-md-6">
                <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
                <span>Get e-mail updates about our latest shops and special offers</span>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control" placeholder="Enter email address">
                        <input type="submit" value="Subscribe" class="submit px-3">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>