<script>
    console.log(@Html.Raw(Json.Serialize(Model)))
</script>
@using QuenchYourThirst.Utilities;
<div class="container">
	<div class="row">
		@foreach(var item in Model)
		{
			<div class="col-md-6 col-lg-3 ftco-animate">
				<div class="product">
					<a href="/product/@(Functions.changeStringToString(item.product.name))/@item.product.id" class="img-prod">
						<img class="img-fluid" src="@item.img.url" alt="Colorlib Template">
						@* <span class="status">30%</span> *@
						<div class="overlay"></div>
					</a>
					<div class="text py-3 pb-4 px-3 text-center">
						<h3><a href="#">@item.product.name</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price"><span class="mr-2 price-dc">@item.prices[0] đ</span><span class="price-sale">@item.prices[item.prices.Count - 1] đ</span></p>
							</div>
						</div>
						<div class="bottom-area d-flex px-3">
							<div class="m-auto d-flex">
								<a href="/product/@(Functions.changeStringToString(item.product.name))/@item.product.id" class="add-to-cart d-flex justify-content-center align-items-center text-center">
									<span><i class="ion-ios-menu"></i></span>
								</a>
								<a href="/product/@(Functions.changeStringToString(item.product.name))/@item.product.id" class="buy-now d-flex justify-content-center align-items-center mx-1">
									<span><i class="ion-ios-cart"></i></span>
								</a>
								<a href="#" class="heart d-flex justify-content-center align-items-center ">
									<span><i class="ion-ios-heart"></i></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</div>