<!-- Responsive Table -->
@using QuenchYourThirst.Models;
@model IList<Menu>;

<style>
    tbody td img {
        width: 74px;
        height: 68px;
        border-radius: 6px;
    }
</style>
<div class="card">
    <h5 class="card-header">Danh sách menu</h5>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr class="text-nowrap">
                    <th>#</th>
                    <th>Tiêu đề</th>
                    <th>Mức</th>
                    <th>Menu cha</th>
                    <th>Thứ tự</th>
                    <th>Vị trí</th>
                    <th>Đường dẫn</th>
                    <th>Ẩn/hiện</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody id="tbody">
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@item.id</th>
                        <td>@item.menuName</td>
                        <td>@item.levels</td>
                        <td>@item.parentId</td>
                        <td>@item.menuOrder</td>
                        <td>@item.position</td>
                        <td>@item.link</td>
                        <td>@item.isActive</td>
                        <td>
                            <a asp-area="admin" asp-controller="menu" asp-action="edit" asp-route-id="@item.id" class="btn btn-primary" title="Sửa menu"><i class='bx bxs-edit-alt'></i></a>
                            <a asp-area="admin" asp-controller="menu" asp-action="delete" asp-route-id="@item.id" class="btn btn-danger" title="Xoá menu"><i class="fa-solid fa-trash-can"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Responsive Table -->

<script>
    function actionSearchView(options, inputValue, typeSearch) {
        function html() {
            return `
                <tr>
                    <th scope="row">${options.id}</th>
                    <td>${options.menuName}</td>
                    <td>${options.levels}</td>
                    <td>${options.parentId}</td>
                    <td>${options.menuOrder}</td>
                    <td>${options.position}</td>
                    <td>${options.link}</td>
                    <td>${options.isActive}</td>
                    <td>
                        <a  href="/admin/menu/edit/${options.id}"  class="btn btn-primary" title="Sửa menu"><i class='bx bxs-edit-alt'></i></a>
                        <a  href="/admin/menu/delete/${options.id}" class="btn btn-danger" title="Xoá menu"><i class="fa-solid fa-trash-can"></i></a>
                    </td>
                </tr>
            `
        }
        function isTypeSearch(typeSearch) {
            switch (parseInt(typeSearch)) {
                case 1:
                    return (options.menuName).toLowerCase().includes(inputValue) 
                case 2:
                    return parseInt(options.id) === parseInt(inputValue)
                case 3:
                    return parseInt(options.position) === parseInt(inputValue)
                case 4:
                    return String(options.link).toLowerCase().includes(inputValue)
            }
        }
        return isTypeSearch(typeSearch) ? html() : ""
    }

    search({
        parent: '#navbar-collapse',
        input: 'input',
        selector: '.form-select',
    })
</script>