@using QuenchYourThirst.Models;
@using QuenchYourThirst.Utilities;
@model IList<Menu>
@{
	int totalCart = ViewData["Total"] != null ? int.Parse(ViewData["Total"].ToString()) : 0;
}
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light navbar-bootsnipp" id="ftco-navbar">
	<div class="container">
		<a class="navbar-brand" href="index.html">QYTHIRST</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="oi oi-menu"></span> Menu
		</button>
		<div class="collapse navbar-collapse" id="ftco-nav">
			<ul class="navbar-nav ml-auto ">
				@foreach (var menu in Model.Where(m => m.levels == 1).OrderBy(n => n.menuOrder))
				{
					var id = menu.id;
					var Smenu = Model.Where(p => p.parentId == id).OrderBy(p => p.menuOrder).ToList();
					var Pmenu = Model.Where(m => m.parentId == 0 && m.id == menu.id).FirstOrDefault();
					var url = Functions.changeStringToString(menu.menuName);
					@if (!string.IsNullOrEmpty(menu.link)) url = menu.link;

					@if (!string.IsNullOrEmpty(menu.icon))
					{
						<li class="nav-item cta cta-colored">
							<a href="/@url" class="nav-link">
								<span class="@menu.icon"></span>
								[@totalCart]
							</a>
						</li>
					}
					else if (Smenu.Count == 0 && Pmenu != null)
					{
						<li class="nav-item"><a href="/@url" class="nav-link">@menu.menuName</a></li>
					}
					else
					{
						if (menu.menuName == "user")
						{
							@* <li class="nav-item">
								<div class="input-group rounded">
									<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
									<span class="input-group-text border-0" id="search-addon">
										<i class="fas fa-search"></i>
									</span>
								</div>
							</li> *@
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									@if (Functions.isLogin())
									{
										<span>@Functions._LoginName</span>
										<img src="@(string.IsNullOrEmpty(Functions._Image) ? "https://yt3.ggpht.com/-pFCVDps2AdisQ3Qp_vABK8PzilJAkIKqAUKp_4KHNVUcGlnBLQs-Fp5eUl6biyp-EXVG1WEEQ=s900-c-k-c0x00ffffff-no-rj" : Functions._Image)" style="width: 20px; height: 20px; border-radius: 50%;" alt="">
									}
									else
									{
										<img src="https://yt3.ggpht.com/-pFCVDps2AdisQ3Qp_vABK8PzilJAkIKqAUKp_4KHNVUcGlnBLQs-Fp5eUl6biyp-EXVG1WEEQ=s900-c-k-c0x00ffffff-no-rj" style="width: 20px; height: 20px; border-radius: 50%;" alt="">
									}
								</a>

								<div class="dropdown-menu" aria-labelledby="dropdown04">
									@if (Functions.isLogin())
									{
										@foreach (var smn in Smenu)
										{
											var url1 = Functions.changeStringToString(smn.menuName);
											@if (!string.IsNullOrEmpty(smn.link)) url1 = smn.link;
											@if ((smn.link).Trim() == "admin")
											{
												if(Functions.isAdmin())
												{
													<a href="/@url1" class="dropdown-item">@smn.menuName</a>
												}
												continue;
											}
											<a href="/@url1" class="dropdown-item">@smn.menuName</a>
										}
									}
									else
									{
										<a href="/login" class="dropdown-item">Đăng nhập</a>
									}
								</div>
							</li>
							continue;
						}else if (Smenu.Count != 0)
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@menu.menuName</a>
								<div class="dropdown-menu" aria-labelledby="dropdown04">
									@foreach (var smn in Smenu)
									{
										var url1 = Functions.changeStringToString(smn.menuName);
										@if (!string.IsNullOrEmpty(smn.link)) url1 = smn.link;
										<a href="/@url1" class="dropdown-item">@smn.menuName</a>
									}
								</div>
							</li>
						}
					}
				}
				</ul>
		</div>
	</div>
	
</nav>
